In [16]:
import numpy as np 
import pandas as pd

# Importation des nouveaux fichiers csv

In [17]:
data_population = pd.read_csv("data_pop2.csv")

In [18]:
data_sous_nutrition = pd.read_csv("sous_nut2.csv")

In [19]:
data_aide_alimentaire = pd.read_csv("aide_alim2.csv")

In [20]:
data_dispo_alimentaire = pd.read_csv("dispo_alim2.csv")

# Proportion de personnes en état de sous-nutrition

In [21]:
data_sous_nutrition

            Zone  Année  Valeur
0    Afghanistan   2013     8.6
1    Afghanistan   2014     8.8
2    Afghanistan   2015     8.9
3    Afghanistan   2016     9.7
4    Afghanistan   2017    10.5
..           ...    ...     ...
499     Viet Nam   2014     8.3
500     Viet Nam   2015     7.6
501     Viet Nam   2016     7.1
502     Viet Nam   2017     6.5
503     Viet Nam   2018     6.1

[504 rows x 3 columns]

In [22]:
data_population

             Zone  Année     Valeur
0     Afghanistan   2013  32.269589
1     Afghanistan   2014  33.370794
2     Afghanistan   2015  34.413603
3     Afghanistan   2016  35.383032
4     Afghanistan   2017  36.296113
...           ...    ...        ...
1411     Zimbabwe   2014  13.586707
1412     Zimbabwe   2015  13.814629
1413     Zimbabwe   2016  14.030331
1414     Zimbabwe   2017  14.236595
1415     Zimbabwe   2018  14.438802

[1416 rows x 3 columns]

In [23]:
proportion = data_population.merge(data_sous_nutrition, 
                                   how='left', 
                                   on=['Zone','Année'], 
                                   suffixes=('_population', '_sous_nutrition'))
# On joint les deux Dataframes ensemble en faisant une jointure à la fois sur la Zone et l'Année.

In [24]:
proportion

             Zone  Année  Valeur_population  Valeur_sous_nutrition
0     Afghanistan   2013          32.269589                    8.6
1     Afghanistan   2014          33.370794                    8.8
2     Afghanistan   2015          34.413603                    8.9
3     Afghanistan   2016          35.383032                    9.7
4     Afghanistan   2017          36.296113                   10.5
...           ...    ...                ...                    ...
1411     Zimbabwe   2014          13.586707                    NaN
1412     Zimbabwe   2015          13.814629                    NaN
1413     Zimbabwe   2016          14.030331                    NaN
1414     Zimbabwe   2017          14.236595                    NaN
1415     Zimbabwe   2018          14.438802                    NaN

[1416 rows x 4 columns]

In [25]:
proportion2017 = proportion[proportion.Année == 2017]
proportion2017
# On isole l'année 2017

,Zone,Année,Valeur_population,Valeur_sous_nutrition
4,Afghanistan,2017,36.296113,10.5
10,Afrique du Sud,2017,57.009756,3.1
16,Albanie,2017,2.884169,0.1
22,Algérie,2017,41.389189,1.3
28,Allemagne,2017,82.658409,NaN
...,...,...,...,...
1390,Venezuela (République bolivarienne du),2017,29.402484,8.0
1396,Viet Nam,2017,94.600648,6.5
1402,Yémen,2017,27.834819,NaN
1408,Zambie,2017,16.853599,NaN
1414,Zimbabwe,2017,14.236595,NaN

In [26]:
proportion2017['Valeur_population'].sum()

7548.134110999999

In [27]:
proportion2017['Valeur_sous_nutrition'].sum()/proportion2017['Valeur_population'].sum()*100
# Nous avons en pourcentage 7,1% de la population mondiale qui est en sous nutrition en 2017.

7.097118203283075

In [28]:
proportion2017['Proportion'] = proportion2017['Valeur_sous_nutrition']/proportion2017['Valeur_population']*100
# On ajoute la colonne Proportion pour avoir une idée du ratio entre personnes sous-nourries et population totale.

<ipython-input-28-c4bd21a71f71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  proportion2017['Proportion'] = proportion2017['Valeur_sous_nutrition']/proportion2017['Valeur_population']*100

In [29]:
proportion2017.sort_values(by=['Valeur_sous_nutrition'], ascending = False)

            Zone  Année  Valeur_population  Valeur_sous_nutrition  Proportion
622         Inde   2017        1338.676785                  190.1   14.200590
964     Pakistan   2017         207.906209                   24.8   11.928456
628    Indonésie   2017         264.650963                   23.6    8.917406
916      Nigéria   2017         190.873244                   22.8   11.945100
118   Bangladesh   2017         159.685424                   21.5   13.463972
...          ...    ...                ...                    ...         ...
1378     Uruguay   2017           3.436641                    NaN         NaN
1384     Vanuatu   2017           0.285510                    NaN         NaN
1402       Yémen   2017          27.834819                    NaN         NaN
1408      Zambie   2017          16.853599                    NaN         NaN
1414    Zimbabwe   2017          14.236595                    NaN         NaN

[236 rows x 5 columns]

In [30]:
proportion2017.sort_values(by=['Proportion'], ascending = False)

,Zone,Année,Valeur_population,Valeur_sous_nutrition,Proportion
526,Haïti,2017,10.982366,5.3,48.259182
1090,République populaire démocratique de Corée,2017,25.429825,12.0,47.188685
772,Madagascar,2017,25.570512,10.5,41.062924
736,Libéria,2017,4.702226,1.8,38.279742
718,Lesotho,2017,2.091534,0.8,38.249438
...,...,...,...,...,...
1378,Uruguay,2017,3.436641,NaN,NaN
1384,Vanuatu,2017,0.285510,NaN,NaN
1402,Yémen,2017,27.834819,NaN,NaN
1408,Zambie,2017,16.853599,NaN,NaN
1414,Zimbabwe,2017,14.236595,NaN,NaN

# Personnes pouvant potentiellement être nourries

In [31]:
data_population

             Zone  Année     Valeur
0     Afghanistan   2013  32.269589
1     Afghanistan   2014  33.370794
2     Afghanistan   2015  34.413603
3     Afghanistan   2016  35.383032
4     Afghanistan   2017  36.296113
...           ...    ...        ...
1411     Zimbabwe   2014  13.586707
1412     Zimbabwe   2015  13.814629
1413     Zimbabwe   2016  14.030331
1414     Zimbabwe   2017  14.236595
1415     Zimbabwe   2018  14.438802

[1416 rows x 3 columns]

In [32]:
data_population['Année'].astype(object)

0       2013
1       2014
2       2015
3       2016
4       2017
        ...
1411    2014
1412    2015
1413    2016
1414    2017
1415    2018
Name: Année, Length: 1416, dtype: object

In [33]:
population2017 = data_population[data_population.Année == 2017]
# On veut savoir la totalité de personnes vivantes en 2017.

In [34]:
population2017 = population2017.drop(columns='Année')

In [35]:
population2017

                                        Zone     Valeur
4                                Afghanistan  36.296113
10                            Afrique du Sud  57.009756
16                                   Albanie   2.884169
22                                   Algérie  41.389189
28                                 Allemagne  82.658409
...                                      ...        ...
1390  Venezuela (République bolivarienne du)  29.402484
1396                                Viet Nam  94.600648
1402                                   Yémen  27.834819
1408                                  Zambie  16.853599
1414                                Zimbabwe  14.236595

[236 rows x 2 columns]

In [36]:
population2017['Valeur'].sum()*1000000
#Nous avons en 2017 au total 7 548 134 111 personnes.

7548134110.999999

In [37]:
dispo = data_dispo_alimentaire.groupby(['Zone']).sum()
# Ici on regroupe toutes les denrées disponibles par pays.

In [38]:
dispo

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,962.767123,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,1547.397260,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,3001.479452,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,2216.794521,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,2623.342466,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2689.0,3275.0,1918.465753,87.16,104.51,11850.0,4343.0,15327.0,6548.0,705.0,1192.0,3.0,804.0,-327.0
Équateur,1200.0,1909.0,2346.0,1492.904110,94.64,61.30,18614.0,8002.0,1725.0,8574.0,707.0,24337.0,138.0,6200.0,557.0
États-Unis d'Amérique,148432.0,154699.0,3682.0,2746.273973,161.37,109.42,777992.0,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Éthiopie,685.0,3641.0,2129.0,971.369863,25.89,60.39,44014.0,941.0,1711.0,33361.0,2256.0,46102.0,640.0,3443.0,-2857.0
Îles Salomon,0.0,237.0,2383.0,1777.835616,46.99,56.31,695.0,118.0,81.0,362.0,6.0,739.0,0.0,90.0,-10.0

In [39]:
calcul = dispo.merge(population2017, how='right', on=['Zone'])
# On va joindre les deux dataframes.

In [40]:
calcul.drop(columns=['Aliments pour animaux', 
                     'Autres Utilisations', 'Disponibilité alimentaire en quantité (g/personne/jour)', 
                     'Disponibilité de matière grasse en quantité (g/personne/jour)',
                     'Disponibilité de protéines en quantité (g/personne/jour)',
                     'Disponibilité intérieure', 
                     'Exportations - Quantité', 
                     'Importations - Quantité', 
                     'Nourriture', 
                     'Pertes', 
                     'Production', 
                     'Semences', 'Traitement', 'Variation de stock'],inplace=True )
#On enlève toutes les colonnes qui ne nous servent pas.
# On peut effectuer la même opération simplement en mettant calcul = calcul(['*noms des colonnes que l'on veut garder*'])

In [41]:
calcul['Disponibilité alimentaire en Kcal/jour'] = calcul['Disponibilité alimentaire (Kcal/personne/jour)']*calcul['Valeur']*1000000
    # Nous avons pour chaque pays le nombre total de calories disponible par jour.

On va diviser le nombre de calories totales par le nombre de calories demandé pour subvenir aux besoin journaliers d'un humain.
En prenant en compte une activité modérée, nous avons 2000 calories pour une femme et 2500 pour un homme.
On a à peu près 50% d'hommes et 50% de femmes à l'échelle mondiale et par pays, à l'exception de pays comme le Qatar.
Nous ferons donc une moyenne à 2250 calories.
source : https://www.futura-sciences.com/sante/questions-reponses/nutrition-calories-femme-homme-besoins-differents-733/

In [42]:
calcul['Personnes pouvant être nourries par jour'] = calcul['Disponibilité alimentaire en Kcal/jour']/2250

In [43]:
calcul

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Valeur,Disponibilité alimentaire en Kcal/jour,Personnes pouvant être nourries par jour
0,Afghanistan,2087.0,36.296113,7.574999e+10,3.366666e+07
1,Afrique du Sud,3020.0,57.009756,1.721695e+11,7.651976e+07
2,Albanie,3188.0,2.884169,9.194731e+09,4.086547e+06
3,Algérie,3293.0,41.389189,1.362946e+11,6.057538e+07
4,Allemagne,3503.0,82.658409,2.895524e+11,1.286900e+08
...,...,...,...,...,...
231,Venezuela (République bolivarienne du),2633.0,29.402484,7.741674e+10,3.440744e+07
232,Viet Nam,2744.0,94.600648,2.595842e+11,1.153707e+08
233,Yémen,2217.0,27.834819,6.170979e+10,2.742657e+07
234,Zambie,1924.0,16.853599,3.242632e+10,1.441170e+07
235,Zimbabwe,2113.0,14.236595,3.008193e+10,1.336974e+07

In [44]:
calcul['Personnes pouvant être nourries par jour'].sum()
# Nous avons donc un total de 9 297 326 501 personnes qui pourraient être nourries avec la totalité de nos ressources.
# C'est plus de 123% de la population mondiale.

9297326501.036001

# Personnes pouvant potentiellement être nourries mais seulement avec des produits d'origine végétale

In [45]:
data_dispo_alimentaire

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,4.712329,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,3.534247,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.164384,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,7.397260,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,0.0,0.0,45.0,12.876712,4.28,1.41,3.0,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0
15601,Îles Salomon,Viande de Volailles,animale,0.0,0.0,11.0,9.150685,0.69,1.14,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
15602,Îles Salomon,"Viande, Autre",animale,0.0,0.0,0.0,0.164384,0.00,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15603,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.191781,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15604,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,1.315068,0.21,0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
vegetale = data_dispo_alimentaire[data_dispo_alimentaire.Origine == 'vegetale']
# On isole les aliments d'origine végétale.

In [47]:
vegetale

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,3.534247,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.164384,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,7.397260,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0
6,Afghanistan,Bière,vegetale,0.0,0.0,0.0,0.246575,0.00,0.00,3.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15595,Îles Salomon,Sésame,vegetale,0.0,0.0,0.0,0.027397,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15596,Îles Salomon,Thé,vegetale,0.0,0.0,0.0,0.465753,0.00,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15597,Îles Salomon,Tomates,vegetale,0.0,0.0,0.0,0.191781,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15603,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.191781,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15604,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,1.315068,0.21,0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
vegetalegroup = vegetale.groupby(['Zone']).sum()
# On fait une addition de tous les aliments d'origine végétale.

In [49]:
vegetalegroup

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,645.0,415.0,1871.0,743.808219,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
Afrique du Sud,5122.0,761.0,2533.0,1164.849315,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
Albanie,559.0,172.0,2203.0,1935.589041,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0
Algérie,4352.0,1706.0,2915.0,1732.465753,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0
Allemagne,28122.0,6842.0,2461.0,1558.410959,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2619.0,2718.0,1296.383562,53.00,62.81,9623.0,3326.0,12546.0,4426.0,675.0,780.0,0.0,804.0,-376.0
Équateur,1001.0,1905.0,1732.0,896.465753,49.48,24.80,14926.0,7142.0,1475.0,5149.0,654.0,20042.0,125.0,6200.0,555.0
États-Unis d'Amérique,145289.0,145102.0,2698.0,1618.301370,93.68,39.65,632023.0,140442.0,69522.0,189122.0,6937.0,740194.0,9030.0,140986.0,-37242.0
Éthiopie,667.0,3641.0,2005.0,824.630137,17.88,52.70,38824.0,918.0,1694.0,28320.0,2125.0,40907.0,635.0,3443.0,-2857.0
Îles Salomon,0.0,229.0,2187.0,1608.438356,34.27,38.86,651.0,98.0,69.0,327.0,6.0,691.0,0.0,90.0,-10.0

In [50]:
vegetalegroup['Disponibilité alimentaire (Kcal/personne/jour)'].sum()

398782.0

In [51]:
vegetalegroup['Disponibilité alimentaire (Kcal/personne/jour)'].sum()/dispo['Disponibilité alimentaire (Kcal/personne/jour)'].sum()*100
# Cette formule nous permet de savoir la proportion d'aliments d'origine végétale à disposition par rapport à la disponibilité intérieure totale.

80.49014819090831

On constate que 80,5% de la disponibilité mondiale alimentaire est d'origine végétale.

In [52]:
vegetalegroup.drop(columns=['Aliments pour animaux', 
                     'Autres Utilisations', 'Disponibilité alimentaire en quantité (g/personne/jour)', 
                     'Disponibilité de matière grasse en quantité (g/personne/jour)',
                     'Disponibilité de protéines en quantité (g/personne/jour)',
                     'Disponibilité intérieure', 
                     'Exportations - Quantité', 
                     'Importations - Quantité', 
                     'Nourriture', 
                     'Pertes', 
                     'Production', 
                     'Semences', 'Traitement', 'Variation de stock'],inplace=True )
# Même travail, on enlève les colonnes qui ne nous servent pas

In [53]:
calculvege = vegetalegroup.merge(population2017, how='right', on=['Zone'])

In [54]:
calculvege['Disponibilité alimentaire en Kcal/jour'] = calculvege['Disponibilité alimentaire (Kcal/personne/jour)']*calculvege['Valeur']*1000000

In [55]:
calculvege['Personnes pouvant être nourries par jour'] = calculvege['Disponibilité alimentaire en Kcal/jour']/2250

In [56]:
calculvege

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Valeur,Disponibilité alimentaire en Kcal/jour,Personnes pouvant être nourries par jour
0,Afghanistan,1871.0,36.296113,6.791003e+10,3.018223e+07
1,Afrique du Sud,2533.0,57.009756,1.444057e+11,6.418032e+07
2,Albanie,2203.0,2.884169,6.353824e+09,2.823922e+06
3,Algérie,2915.0,41.389189,1.206495e+11,5.362199e+07
4,Allemagne,2461.0,82.658409,2.034223e+11,9.040993e+07
...,...,...,...,...,...
231,Venezuela (République bolivarienne du),2157.0,29.402484,6.342116e+10,2.818718e+07
232,Viet Nam,2169.0,94.600648,2.051888e+11,9.119502e+07
233,Yémen,2028.0,27.834819,5.644901e+10,2.508845e+07
234,Zambie,1818.0,16.853599,3.063984e+10,1.361771e+07
235,Zimbabwe,1935.0,14.236595,2.754781e+10,1.224347e+07

In [57]:
calculvege['Personnes pouvant être nourries par jour'].sum()
# On a un total de 7 671 450 761 personnes pouvant être nourries correctement à l'aide de produits végétaux.
# C'est plus de 102% de la population mondiale.

7671450760.667111

# Utilisation de la disponibilité intérieure

## Attribuée à l'alimentation animale

In [58]:
dispo

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,962.767123,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,1547.397260,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,3001.479452,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,2216.794521,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,2623.342466,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2689.0,3275.0,1918.465753,87.16,104.51,11850.0,4343.0,15327.0,6548.0,705.0,1192.0,3.0,804.0,-327.0
Équateur,1200.0,1909.0,2346.0,1492.904110,94.64,61.30,18614.0,8002.0,1725.0,8574.0,707.0,24337.0,138.0,6200.0,557.0
États-Unis d'Amérique,148432.0,154699.0,3682.0,2746.273973,161.37,109.42,777992.0,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Éthiopie,685.0,3641.0,2129.0,971.369863,25.89,60.39,44014.0,941.0,1711.0,33361.0,2256.0,46102.0,640.0,3443.0,-2857.0
Îles Salomon,0.0,237.0,2383.0,1777.835616,46.99,56.31,695.0,118.0,81.0,362.0,6.0,739.0,0.0,90.0,-10.0

In [59]:
dispo['Aliments pour animaux'].sum()

1304245.0

In [60]:
dispo['Disponibilité intérieure'].sum()

9848994.0

In [61]:
dispo['Aliments pour animaux'].sum()/dispo['Disponibilité intérieure'].sum()*100

13.242418464261426

Nous avons donc 13,24% de la disponibilité intérieure qui est attribuée aux animaux.

## Disponibilité perdue

In [62]:
dispo

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,962.767123,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,1547.397260,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,3001.479452,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,2216.794521,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,2623.342466,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2689.0,3275.0,1918.465753,87.16,104.51,11850.0,4343.0,15327.0,6548.0,705.0,1192.0,3.0,804.0,-327.0
Équateur,1200.0,1909.0,2346.0,1492.904110,94.64,61.30,18614.0,8002.0,1725.0,8574.0,707.0,24337.0,138.0,6200.0,557.0
États-Unis d'Amérique,148432.0,154699.0,3682.0,2746.273973,161.37,109.42,777992.0,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Éthiopie,685.0,3641.0,2129.0,971.369863,25.89,60.39,44014.0,941.0,1711.0,33361.0,2256.0,46102.0,640.0,3443.0,-2857.0
Îles Salomon,0.0,237.0,2383.0,1777.835616,46.99,56.31,695.0,118.0,81.0,362.0,6.0,739.0,0.0,90.0,-10.0

In [63]:
dispo['Pertes'].sum()

453698.0

In [64]:
dispo['Disponibilité intérieure'].sum()

9848994.0

In [65]:
dispo['Pertes'].sum()/dispo['Disponibilité intérieure'].sum()*100

4.606541541196999

On a donc un pourcentage de 4,6% de nourriture perdue.

## Utilisée pour l'alimentation humaine

In [66]:
dispo['Nourriture'].sum()

4876258.0

In [67]:
dispo['Disponibilité intérieure'].sum()

9848994.0

In [68]:
dispo['Nourriture'].sum()/dispo['Disponibilité intérieure'].sum()*100

49.51021393657058

On a donc 49,51% de la disponibilité intérieure utilisée pour l'alimentation humaine

# Questions Cécile (2017)

## Pays dans lesquels la proportion de personnes sous-alimentées est la plus forte

In [69]:
data_sous_nutrition

            Zone  Année  Valeur
0    Afghanistan   2013     8.6
1    Afghanistan   2014     8.8
2    Afghanistan   2015     8.9
3    Afghanistan   2016     9.7
4    Afghanistan   2017    10.5
..           ...    ...     ...
499     Viet Nam   2014     8.3
500     Viet Nam   2015     7.6
501     Viet Nam   2016     7.1
502     Viet Nam   2017     6.5
503     Viet Nam   2018     6.1

[504 rows x 3 columns]

In [70]:
sousnut2017 = data_sous_nutrition[data_sous_nutrition.Année == 2017]

In [71]:
sousnut2017

                                       Zone  Année  Valeur
4                               Afghanistan   2017    10.5
10                           Afrique du Sud   2017     3.1
16                                  Albanie   2017     0.1
22                                  Algérie   2017     1.3
28                                   Angola   2017     5.8
..                                      ...    ...     ...
479                                    Togo   2017     1.6
487                            Turkménistan   2017     0.2
490                                 Ukraine   2017     1.5
496  Venezuela (République bolivarienne du)   2017     8.0
502                                Viet Nam   2017     6.5

[84 rows x 3 columns]

In [72]:
population2017

                                        Zone     Valeur
4                                Afghanistan  36.296113
10                            Afrique du Sud  57.009756
16                                   Albanie   2.884169
22                                   Algérie  41.389189
28                                 Allemagne  82.658409
...                                      ...        ...
1390  Venezuela (République bolivarienne du)  29.402484
1396                                Viet Nam  94.600648
1402                                   Yémen  27.834819
1408                                  Zambie  16.853599
1414                                Zimbabwe  14.236595

[236 rows x 2 columns]

In [73]:
sousnut2017.sort_values(by=['Valeur'], ascending = False)

             Zone  Année  Valeur
208          Inde   2017   190.1
371      Pakistan   2017    24.8
214     Indonésie   2017    23.6
353       Nigéria   2017    22.8
45     Bangladesh   2017    21.5
..            ...    ...     ...
154      Eswatini   2017     0.2
118    Costa Rica   2017     0.2
487  Turkménistan   2017     0.2
69       Bulgarie   2017     0.2
16        Albanie   2017     0.1

[84 rows x 3 columns]

In [74]:
proportion_sous_nut = sousnut2017.merge(population2017, how='left', on='Zone', suffixes=('_sous_nutrition', '_population'))

In [75]:
proportion_sous_nut.drop(columns=('Année'), inplace=True)

In [76]:
proportion_sous_nut['Proportion sous nutrition en %'] = proportion_sous_nut['Valeur_sous_nutrition']/proportion_sous_nut['Valeur_population']*100

In [77]:
proportion_sous_nut.sort_values(by=['Proportion sous nutrition en %'], ascending = False).head(10)

,Zone,Valeur_sous_nutrition,Valeur_population,Proportion sous nutrition en %
32,Haïti,5.3,10.982366,48.259182
67,République populaire démocratique de Corée,12.0,25.429825,47.188685
45,Madagascar,10.5,25.570512,41.062924
44,Libéria,1.8,4.702226,38.279742
42,Lesotho,0.8,2.091534,38.249438
76,Tchad,5.7,15.016753,37.957606
69,Rwanda,4.2,11.980961,35.055619
53,Mozambique,9.4,28.649018,32.810898
78,Timor-Leste,0.4,1.243258,32.173531
0,Afghanistan,10.5,36.296113,28.928718

In [78]:
data_sous_nutrition[data_sous_nutrition.Zone == 'Soudan']

       Zone  Année  Valeur
445  Soudan   2013     5.9
446  Soudan   2014     5.1
447  Soudan   2015     4.4
448  Soudan   2016     4.8
449  Soudan   2017     5.0
450  Soudan   2018     5.2

## Pays qui ont bénéficié du plus d'aide depuis 2013

In [79]:
data_aide_alimentaire

             Zone  Année                   Produit  Valeur
0     Afghanistan   2013       Autres non-céréales   0.682
1     Afghanistan   2014       Autres non-céréales   0.335
2     Afghanistan   2013              Blé et Farin  39.224
3     Afghanistan   2014              Blé et Farin  15.160
4     Afghanistan   2013                  Céréales  40.504
...           ...    ...                       ...     ...
1470     Zimbabwe   2015  Mélanges et préparations   0.096
1471     Zimbabwe   2013              Non-céréales   5.022
1472     Zimbabwe   2014              Non-céréales   2.310
1473     Zimbabwe   2015              Non-céréales   0.306
1474     Zimbabwe   2013                Riz, total   0.064

[1475 rows x 4 columns]

In [80]:
data_aide_alimentaire['Année'] = data_aide_alimentaire['Année'].astype(object)

In [81]:
aidemajeure = data_aide_alimentaire.groupby(['Zone']).sum()

In [82]:
aidemajeure.sort_values(by=['Valeur'], ascending=False).head(10)

                                    Valeur
Zone
République arabe syrienne         1858.943
Éthiopie                          1381.294
Yémen                             1206.484
Soudan du Sud                      695.248
Soudan                             669.784
Kenya                              552.836
Bangladesh                         348.188
Somalie                            292.678
République démocratique du Congo   288.502
Niger                              276.344

## Pays ayant le moins/plus de disponibilité alimentaire

In [72]:
dispo

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,962.767123,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,1547.397260,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,3001.479452,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,2216.794521,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,2623.342466,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2689.0,3275.0,1918.465753,87.16,104.51,11850.0,4343.0,15327.0,6548.0,705.0,1192.0,3.0,804.0,-327.0
Équateur,1200.0,1909.0,2346.0,1492.904110,94.64,61.30,18614.0,8002.0,1725.0,8574.0,707.0,24337.0,138.0,6200.0,557.0
États-Unis d'Amérique,148432.0,154699.0,3682.0,2746.273973,161.37,109.42,777992.0,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Éthiopie,685.0,3641.0,2129.0,971.369863,25.89,60.39,44014.0,941.0,1711.0,33361.0,2256.0,46102.0,640.0,3443.0,-2857.0
Îles Salomon,0.0,237.0,2383.0,1777.835616,46.99,56.31,695.0,118.0,81.0,362.0,6.0,739.0,0.0,90.0,-10.0

In [73]:
dispo.sort_values(by=['Disponibilité alimentaire (Kcal/personne/jour)'],ascending=False).head(10)

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Autriche,3412.0,1001.0,3770.0,2929.315068,170.44,106.20,19308.0,6733.0,8463.0,9085.0,459.0,18129.0,173.0,5178.0,-556.0
Belgique,5533.0,3226.0,3737.0,2745.452055,161.95,99.37,29358.0,30345.0,35276.0,11134.0,564.0,24496.0,153.0,8960.0,-64.0
Turquie,17750.0,3006.0,3708.0,2652.465753,119.64,108.12,131377.0,14593.0,12136.0,72551.0,12036.0,137432.0,2553.0,23560.0,-3599.0
États-Unis d'Amérique,148432.0,154699.0,3682.0,2746.273973,161.37,109.42,777992.0,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Israël,2525.0,801.0,3610.0,2526.410959,151.39,128.00,11267.0,1648.0,5883.0,7132.0,220.0,6906.0,71.0,564.0,128.0
Irlande,3758.0,1120.0,3602.0,3151.095890,125.69,109.91,10738.0,6828.0,6254.0,5320.0,236.0,11501.0,89.0,399.0,-192.0
Italie,16144.0,3228.0,3578.0,2721.095890,154.69,108.49,97405.0,23643.0,38692.0,60584.0,1861.0,80855.0,736.0,14870.0,1496.0
Luxembourg,147.0,11.0,3540.0,3152.493151,141.49,113.64,802.0,821.0,1076.0,607.0,11.0,593.0,9.0,24.0,-41.0
Égypte,15084.0,2262.0,3518.0,2202.164384,63.09,103.22,115133.0,5014.0,24100.0,65957.0,7608.0,95848.0,1365.0,22924.0,199.0
Allemagne,30209.0,7711.0,3503.0,2623.342466,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

In [74]:
dispo.sort_values(by=['Disponibilité alimentaire (Kcal/personne/jour)'],ascending=True).head(10)

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
République centrafricaine,1.0,27.0,1879.0,1243.095890,59.41,46.04,2582.0,0.0,76.0,2092.0,122.0,2503.0,63.0,278.0,3.0
Zambie,408.0,69.0,1924.0,959.232877,42.05,55.22,10041.0,675.0,380.0,5088.0,242.0,10526.0,76.0,4178.0,-182.0
Madagascar,842.0,2522.0,2056.0,1164.575342,24.49,46.69,15216.0,236.0,924.0,9741.0,966.0,14160.0,375.0,844.0,375.0
Afghanistan,768.0,415.0,2087.0,962.767123,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Haïti,481.0,115.0,2089.0,1089.808219,48.92,47.70,6175.0,15.0,1204.0,4101.0,679.0,5072.0,36.0,762.0,-77.0
République populaire démocratique de Corée,816.0,695.0,2093.0,1257.342466,36.41,54.99,14876.0,83.0,993.0,11425.0,1066.0,13883.0,194.0,678.0,84.0
Tchad,104.0,2.0,2109.0,875.205479,47.10,62.75,5304.0,0.0,290.0,4097.0,459.0,5153.0,101.0,542.0,-141.0
Zimbabwe,131.0,23.0,2113.0,922.164384,57.18,48.32,9507.0,278.0,1342.0,4762.0,188.0,7914.0,76.0,4330.0,531.0
Ouganda,348.0,68.0,2126.0,1467.342466,46.57,52.64,26624.0,1218.0,1257.0,20121.0,991.0,26321.0,154.0,4982.0,269.0
Timor-Leste,9.0,2.0,2129.0,1011.232877,51.08,57.51,447.0,23.0,100.0,419.0,14.0,371.0,2.0,3.0,2.0

Disponibilité intérieure = importations - exportations + production +- variations de stock 
                       = nourriture + pertes + semences + traitement + aliments pour animaux + autres utilisations

# Utilisation des céréales

La liste des céréales est la suivante : Blé, Riz (Eq Blanchi), Orge, Maïs, Seigle, Avoine, Millet, Sorgho, Céréales, Autres.

In [76]:
cereale = ['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs',
           'Seigle', 'Avoine', 'Millet', 
           'Sorgho', 'Céréales, Autres']

In [77]:
data_dispo_alimentaire.Produit.unique()

array(['Abats Comestible', 'Agrumes, Autres', 'Aliments pour enfants',
       'Ananas', 'Bananes', 'Beurre, Ghee', 'Bière', 'Blé',
       'Boissons Alcooliques', 'Café', 'Coco (Incl Coprah)', 'Crème',
       'Céréales, Autres', 'Dattes', 'Edulcorants Autres',
       'Feve de Cacao', 'Fruits, Autres', 'Graines de coton',
       'Graines de tournesol', 'Graisses Animales Crue',
       'Huil Plantes Oleif Autr', 'Huile Graines de Coton',
       "Huile d'Arachide", "Huile d'Olive", 'Huile de Colza&Moutarde',
       'Huile de Palme', 'Huile de Soja', 'Huile de Sésame',
       'Huile de Tournesol', 'Lait - Excl Beurre', 'Légumes, Autres',
       'Légumineuses Autres', 'Maïs', 'Miel', 'Millet', 'Miscellanees',
       'Noix', 'Oeufs', 'Olives', 'Oranges, Mandarines', 'Orge',
       'Plantes Oleiferes, Autre', 'Poissons Eau Douce', 'Poivre',
       'Pommes', 'Pommes de Terre', 'Raisin', 'Riz (Eq Blanchi)',
       'Sucre Eq Brut', 'Sucre, betterave', 'Sucre, canne', 'Sésame',
       'Thé', 'Tomates', "Viande d'Ovins/Caprins", 'Viande de Bovins',
       'Viande de Volailles', 'Viande, Autre', 'Vin', 'Épices, Autres',
       'Alcool, non Comestible', 'Animaux Aquatiques Autre',
       'Arachides Decortiquees', 'Avoine', 'Bananes plantains',
       'Boissons Fermentés', 'Cephalopodes', 'Citrons & Limes',
       'Crustacés', 'Girofles', 'Graines Colza/Moutarde', 'Haricots',
       'Huile de Coco', 'Huile de Germe de Maïs', 'Huile de Palmistes',
       'Huiles de Foie de Poisso', 'Huiles de Poissons', 'Ignames',
       'Manioc', 'Mollusques, Autres', 'Oignons', 'Palmistes',
       'Pamplemousse', 'Patates douces', 'Perciform', 'Piments',
       'Plantes Aquatiques', 'Pois', 'Poissons Marins, Autres',
       'Poissons Pelagiques', 'Racines nda', 'Seigle', 'Soja', 'Sorgho',
       'Viande de Suides', 'Huile de Son de Riz', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [78]:
data_dispo_alimentaire[data_dispo_alimentaire.Produit.isin(cereale)]
# de façon à isoler uniquement nos céréales.

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
7,Afghanistan,Blé,vegetale,0.0,0.0,1369.0,438.986301,4.69,36.91,5992.0,0.0,1173.0,4895.0,775.0,5169.0,322.0,0.0,-350.0
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,Afghanistan,Maïs,vegetale,200.0,0.0,21.0,6.849315,0.30,0.56,313.0,0.0,1.0,76.0,31.0,312.0,5.0,0.0,0.0
34,Afghanistan,Millet,vegetale,0.0,0.0,3.0,1.095890,0.02,0.08,13.0,0.0,0.0,12.0,1.0,13.0,0.0,0.0,0.0
40,Afghanistan,Orge,vegetale,360.0,0.0,26.0,8.000000,0.24,0.79,524.0,0.0,10.0,89.0,52.0,514.0,22.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15545,Îles Salomon,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15568,Îles Salomon,Maïs,vegetale,0.0,0.0,1.0,0.410959,0.01,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15575,Îles Salomon,Orge,vegetale,0.0,0.0,0.0,0.191781,0.00,0.01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
15591,Îles Salomon,Riz (Eq Blanchi),vegetale,0.0,12.0,623.0,174.684932,1.36,10.90,49.0,0.0,47.0,36.0,1.0,3.0,0.0,0.0,0.0
15593,Îles Salomon,Sorgho,vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
index_names = data_dispo_alimentaire[data_dispo_alimentaire.Produit.isin(cereale)]

In [80]:
index_names

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
7,Afghanistan,Blé,vegetale,0.0,0.0,1369.0,438.986301,4.69,36.91,5992.0,0.0,1173.0,4895.0,775.0,5169.0,322.0,0.0,-350.0
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,Afghanistan,Maïs,vegetale,200.0,0.0,21.0,6.849315,0.30,0.56,313.0,0.0,1.0,76.0,31.0,312.0,5.0,0.0,0.0
34,Afghanistan,Millet,vegetale,0.0,0.0,3.0,1.095890,0.02,0.08,13.0,0.0,0.0,12.0,1.0,13.0,0.0,0.0,0.0
40,Afghanistan,Orge,vegetale,360.0,0.0,26.0,8.000000,0.24,0.79,524.0,0.0,10.0,89.0,52.0,514.0,22.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15545,Îles Salomon,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15568,Îles Salomon,Maïs,vegetale,0.0,0.0,1.0,0.410959,0.01,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15575,Îles Salomon,Orge,vegetale,0.0,0.0,0.0,0.191781,0.00,0.01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
15591,Îles Salomon,Riz (Eq Blanchi),vegetale,0.0,12.0,623.0,174.684932,1.36,10.90,49.0,0.0,47.0,36.0,1.0,3.0,0.0,0.0,0.0
15593,Îles Salomon,Sorgho,vegetale,0.0,0.0,0.0,0.000000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
index_names['Aliments pour animaux'].sum()

873535.0

In [82]:
index_names['Nourriture'].sum()

1029010.0

In [83]:
index_names['Disponibilité intérieure'].sum()

2406999.0

In [84]:
index_names['Aliments pour animaux'].sum()/index_names['Disponibilité intérieure'].sum()*100

36.291456706047654

In [85]:
index_names['Nourriture'].sum()/index_names['Disponibilité intérieure'].sum()*100

42.75074480712289

Il y a 36,29% de la disponibilité utilisée pour les aliments pour animaux et 42,7% utilisée pour l'alimentation humaine.

## Le cas de la Thaïlande et du manioc

In [96]:
thailande = data_dispo_alimentaire[data_dispo_alimentaire.Zone == 'Thaïlande']

In [98]:
thailande[thailande.Produit == 'Manioc']

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13809,Thaïlande,Manioc,vegetale,1800.0,2081.0,40.0,35.616438,0.05,0.14,6264.0,25214.0,1250.0,871.0,1511.0,30228.0,0.0,0.0,0.0

In [99]:
30228*100/6264

482.56704980842915

Le manioc est produit en grande quantité dans le pays, c'est une plante très nutritive, et elle est exportée en majeure partie. En effet on trouve que la production totale est égale à 482% de la disponibilité intérieure. La Thaïlande a en 2017 6,2 millions de personnes en sous-nutrition.